body{
    height: 100%;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
.btn{
    border: none;
    margin:0 auto;
    padding: 10px 20px;
    background-color: coral;
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
.container{
    width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2em;
}

.container div{
    width: 64px; /* explanation below */
    height: 64px;
    border:1px solid black;
    
}